*{
    margin: 0;
    padding: 0;
    font-family: "Spotify Mix", sans-serif;
}

@font-face {
    font-family: "Spotify Mix";
    src: url("./Spotify Mix UI/spotify_mix.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

body{
    background-color: black;
    color: white;
}


.left{
    position: relative;
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
    position: relative;
}

.home{
    position: relative;
    padding: 10px;
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 15px;
    list-style: none;
    padding-top: 14px;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    align-items: center;
    font-size: 13px;
}

.heading img{
    width: 30px;
}

.library{
    min-height: 80vh;
    position: relative;
}

.footer{
    bottom: 0;
    position: absolute;
    padding: 10px;
    display: flex;
    font-size: 10px;
    color: grey;
}

.footer a{
    color: grey;
}

.right{
    margin: 16px 0;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(52, 52, 52);
}

.header > *{
    padding: 20px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.spotifyPlaylists{
    padding: 16px;
}

.spotifyPlaylists h1{
    padding: 16 px;
}

.cardContainer{
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow: scroll;
}

.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card > *{
    padding-top: 10px;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.play{
    position: absolute;
    top: 155px;
    right: 19px;
    opacity: 0;
    transition: all 1s ease-out;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 15px;
}

.buttons > *{
    margin: 0 12px;
}

.signupbtn{
    background-color: rgb(52, 52, 52);
    color: rgb(184, 182, 182);
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
}

.signupbtn:hover{
    font-size: 17px;
    color: white;
}

.loginbtn{
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover{
    font-weight: bold;
    font-size: 17px;
}


.playbar{
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background-color: rgb(207 179 177);
    padding: 12px;
    width: 70vw;
    border-radius: 30px;
    right: 7px;
    min-height: 40px;
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songList{
    height: 544px;
    overflow: scroll;
    margin-bottom: 44px;
}

.hamburger{
    display: none;
}

.songList ul{
    padding: 0 12px;
}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px;
    padding: 13px;
    border-radius: 5px;
}

.songList .info{
    font-size: 13px;
    width: 344px;
}

.info div{
    word-break: break-all;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span{
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar{
    height: 0.25px;
    border: 2px solid black;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 96%;
    border-radius: 10px;
    margin: 6px;
    cursor: pointer;
}

.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img{
    cursor: pointer;
}

.songinfo, .songtime{
    color: black;
    padding: 0 12px;
}

.abovebar{
    display: flex;
    justify-content: space-between;
}

.close{
    display: none;
}

.close{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

@media (max-width: 1400px){
    .left{
        background-color: black;
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 370px;
    }

    .left .close{
        display: block;
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
        cursor: pointer;
    }

    .right{
        width: 100vw;
    }

    .playbar{
        width: 88vw;
    }

    .seekbar{
        width: 90%;
    }

    .hamburger{
        display: block;
    }

    .card{
        width: 90vw;
    }

    .cardContainer{
        justify-content: center;
        margin: 0;
    }

    .abovebar{
        flex-direction: column;
        gap: 13px;
        align-items: center;
    }
}